
{% load staticfiles %}

    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-head">
                    <div class="card-header card-head-inverse bg-dark">
                        <h2 class="card-title text-white center">Weekly Sales Report (Data as of)
                            {{ current_date|safe }}</h2>
                        <a class="heading-elements-toggle"><i class="ft-ellipsis-h font-medium-3"></i></a>
                    </div>
                </div>
                <br>
                <div class="card-content">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-5 offset-1">
                                <h4 class="text-center">Attribution across the board (bps)</h4>
                                {{ bps_attributions|safe }}
                            </div>
                        </div>
                    </div>

                    <br><br><br>
                    <div class="col-lg-12">
                            <h4 class="text-center">AED Bucket Attribution (bps)</h4>
                            <div class="col-lg-12">

                                {{ buckets_contribution_bps|safe }}
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 offset-3">
                                <h4 class="text-center">AED Bucket Weightings</h4>
                                {{ aed_bucket_weightings|safe }}
                            </div>
                        </div>
                    </div>

                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-6 offset-3">
                                <h4 class="text-center">P&L Monitors</h4>
                                {{ pnl_monitors|safe }}
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                <p>AED QTD Winners</p>
                {{ aed_qtd_winners|safe }}<br><br>
                <p>AED QTD Losers</p>
                {{ aed_qtd_losers|safe }}<br><br><br><br>
                <p>AED YTD Winners</p>
                {{ aed_ytd_winners|safe }}<br><br>
                <p>AED YTD Losers</p>
                {{ aed_ytd_losers|safe }}<br><br>
                <p>AED YTD Winners (Active)</p>
                {{ aed_ytd_active_winners|safe }}<br><br>
                <p>AED YTD Losers (Active)</p>
                {{ aed_ytd_active_losers|safe }}<br><br>
                <p>ARB QTD Winners</p>
                {{ arb_qtd_winners|safe }}<br><br><br><br>
                <p>ARB QTD Losers</p>
                {{ arb_qtd_losers|safe }}<br><br>
                <p>ARB YTD Winners</p>
                {{ arb_ytd_winners|safe }}<br><br>
                <p>ARB YTD Losers</p>
                {{ arb_ytd_losers|safe }}<br><br>
                <p>ARB YTD Winners (Active)</p>
                {{ arb_ytd_active_winners|safe }}<br><br>
                <p>ARB YTD Losers (Active)</p>
                {{ arb_ytd_active_losers|safe }}<br><br><br><br>
                <p>TACO QTD Winners</p>
                {{ taco_qtd_winners|safe }}<br><br>
                <p>TACO QTD Losers</p>
                {{ taco_qtd_losers|safe }}<br><br>
                <p>TACO YTD Winners</p>
                {{ taco_ytd_winners|safe }}<br><br>
                <p>TACO YTD Losers</p>
                {{ taco_ytd_losers|safe }}<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <p>TACO YTD Winners (Active)</p>
                {{ taco_ytd_active_winners|safe }}<br><br>
                <p>TACO YTD Losers (Active)</p>
                {{ taco_ytd_active_losers|safe }}<br><br>
                </div>
            </div>
        </div>
        <p>Report auto generated by Water Island Risk Portal (Sales Reporting Module)</p>
    </section>


