{% extends 'base.html' %}
{% block title_block %}
Risk Factors Summary
{% endblock %}
{% load staticfiles %}

{% block css_styles %}
{{ block.super }}
{% endblock %}
{% block datatables_bootstrap_css %}
{{ block.super }}
{% endblock %}

{% block content %}
{# Show a Button to Add a new Deal#}

<input type="hidden" id="summary_data" value="{{ summary_data }}">
{% csrf_token %}
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row">
    </div>
    <div class="content-body">
      <section class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-head">
              <div class="card-header">
                <h4 class="card-title font-medium-3 center">Risk Factors Summary</h4>
              </div>
              {% if error %}
                <p class="lead text-danger text-center font-size-small">{{ error|safe }}</p>
              {% endif %}
            </div>
            <div class="card-body">
              <div id="appendData"></div>
              <div class="loader-wrapper" style="margin-top: 10%">
                <div class="loader-container">
                  <div class="folding-cube loader-blue-grey">
                    <div class="cube1 cube"></div>
                    <div class="cube2 cube"></div>
                    <div class="cube4 cube"></div>
                    <div class="cube3 cube"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<script src="{% static 'app-assets/vendors/js/vendors.min.js' %}" type="text/javascript"></script>
<script src="{% static 'app-assets/js/core/risk_factors_summary.js' %}" type="text/javascript"></script>


{% endblock %}